
*{
    margin: 0;
    box-sizing: border-box;
  }

body{
    background: url("../images/concrete_seamless.png");
  }
  
#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom:2px solid #666666;
    background-color: white;
}

h1 {
color: white;
background-color: #4aaaa5;
padding: 20px;
}

#nav > nav > a{
    text-decoration: none;
    color: grey;
    border-right: 2px solid grey;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif
  }
/* Note: I got the below function from Davis Birsan, who, in turn, got help from one of the TAs */
  #nav > nav > a:last-child{
    border-right: none;
  }

  /* Note: to figure out how to center this block, I used w3 schools. link: https://www.w3schools.com/css/tryit.asp?filename=trycss_align_image */
#body {
      background-color: white;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding:20px;
      width: 924px;
      width: 70%;
  }

#bio {
    color: #4aaaa5;
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
padding-bottom: 10px;
padding-top: 10px;
color: #777777;
font-family: Arial, Helvetica, sans-serif;
}

#jbpic {
    float: left;
    max-width: 50%;
    padding: 10px;
}

/* Note: Davis helped me figure out how the display and justify-content and align-items*/

#footer{
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: #666666;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 4px solid #4aaaa5;
  }